<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ guild }}/{{ channel }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .message {
            font-size: 18px;
            color: black;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }
        .username {
            color: grey;
            font-size: 18px;
            padding-right: 1.5em;
        }
    </style>
</head>

<script>
function setup() {
    window.scrollTo(0, document.body.scrollHeight);
}


function handle_new_msg(event) {
    console.log("Handling message")
    if (event.data.message.guild == "{{ guild }}" && event.data.message.channel == "{{ channel }}") {
        console.log("From same guild")
        username = event.data.message.username;
        content = event.data.message.content;
        pfp = event.data.message.pfp;
        append_message(username, content, pfp);
    }
}

function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}
async function handle() {
    event.preventDefault(); // Prevent the default form submission behavior

    const message = document.getElementById("message").value;
    console.log(message)

    try {
        const response = await fetch("https://coltons.sytes.net/api/message", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                token: getCookie("token"),
                guildID: "{{ guild }}",
                channelID: "{{ channel }}",
                content: message
            }),
        });
    } catch (error) {
        console.log(`Err: ${error}`)
        alert(`Error: ${error}\status: ${response.status} (${response.statusText})`)
    }
};

function append_message(username, content, pfp) {
    messageHTML = `
        <div class="message">
            <img src="${pfp}" width="28px" height="28px" loading="lazy">
            <span class="username">${username}</span>
            <span>${content}</span>
        </div>`;

    msgs = document.getElementById("message_list");
    msgs.insertAdjacentHTML('beforeend', messageHTML);
    console.log("Appended message");
}

</script>

<p>Logged in as {{ currentuser }}</p>
<a href="https://coltons.sytes.net/login_fe">Log in</a>
<a href="https://coltons.sytes.net/logout_fe">Log out</a>
<a href="https://coltons.sytes.net/">Quick Links</a>

<h1>{{ guild }}/{{ channel }}</h1>

<body onload="setup()" id="message_list">
    {% for message in messages %}
    <div class="message">
        <img src="{{ message.pfp }}" width="28px" height="28px" loading="lazy">
        <span class="username">{{ message.username }}</span>
        <span>{{ message.content }}</span>
    </div>
    {% endfor %}
</body>

<script>
    function gotochannel(event) {
        const guild = document.getElementById("g").value;
        const channel = document.getElementById("c").value;
    
        location.href = `https://coltons.sytes.net/frontend_view_channel?g=${guild}&c=${channel}`;
    }
</script>

<form onsubmit="gotochannel(event)">
    <input type="number" id="g" name="g" required>
    <input type="text" id="c" name="c" required>
    <button type="submit">Go</button>
</form>

<form onsubmit="handle(event)">
    <input type="text" id="message" name="message" required></input>
    <button type="submit">Send</button>
</form>